name: Build Android APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    # THIS TELLS GITHUB TO WORK INSIDE THE JETSTREAM FOLDER
    defaults:
      run:
        working-directory: ./JetStreamCompose

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew :jetstream:assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: jetstream-release
        # NOTE: upload-artifact resolves from repo root
        path: JetStreamCompose/jetstream/build/outputs/apk/release/jetstream-release.apk
